<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/CSS/index.css">
    </head>

    <body>
        <form action="#" method="post">
            <p>Username: </p>
            <input type="text" placeholder="Username" name="username" />
            
            <p>Send Message: </p>
            <input type="text" placeholder="Message" name="message-to-send" />
            <input type="submit" value="Send Message" />
        </form>

        <h2>{{user, msg}}</h2>
    </body>
</html>

<!-- KEEP IN TEMPLATES DIRECTORY -->